<div class="container mt-5" >
  <form action="/restaurants/create" method="POST">
    name<input type="text" name="name"><br>
    name_en<input type="text" name="name_en"><br>
    category<input type="text" name="category"><br>
    image<input type="text" name="image"><br>
    location<input type="text" name="location"><br>
    phone<input type="text" name="phone"><br>
    google_map<input type="text" name="google_map"><br>
    rating<input type="text" name="rating"><br>
    description<textarea name="description" cols="30" rows="10"></textarea>
    <button type="submit">Create</button>
  </form>
</div>











{{!-- <div class="container mt-5 mb-5">

<form class="row g-3 needs-validation" novalidate>
  <span class="h3">新增餐廳</span>

  <div class="col-12">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="col-12">
    <label for="validationCustom02" class="form-label">English Name</label>
    <input type="text" class="form-control" id="validationCustom02" name="name_en" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="col-md-4">
    <label for="inputState" class="form-label">Category</label>
    <select id="inputState" class="form-select">
      <option selected>選擇</option>
      <option>中東料理</option>
      <option>日本料理</option>
      <option>義式餐廳</option>
      <option>美式餐廳</option>
      <option>酒吧</option>
      <option>咖啡</option>
    </select>
    <div class="invalid-feedback">
      Please provide a valid category.
    </div>
  </div>

  <div class="col-md-4">
    <label for="validationCustom04" class="form-label">image</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Choose...</option>
      <option>...</option>
    </select>
    <div class="invalid-feedback">
      Please select a valid state.
    </div>
  </div>

  <div class="col-md-4">
    <label for="validationCustom05" class="form-label">Address</label>
    <input type="text" class="form-control" id="validationCustom05" required>
    <div class="invalid-feedback">
      Please provide a valid Location.
    </div>
  </div>

  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Phone</label>
    <input type="text" class="form-control" id="validationCustom01"  required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Location link on google map</label>
    <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Rating</label>
    <input type="text" class="form-control" id="validationCustom01" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="col-12">
    <label for="description" class="form-label">description</label>
    <input type="text" class="form-control" id="description" name="description" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="col-12 text-end">
    <button class="btn btn-primary" type="submit">Create restaurant</button>
  </div>
</form>

</div> --}}



























